# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [1]:
!pwd
!ls -al

/c/Users/Michelle/Documents/DataScience/Flatiron/ClassModules/dc-ds-071519/1-Module/week-2/day-6-pandas-part-2
total 273
drwxr-xr-x 1 Michelle 197121      0 Jul 22 11:09 .
drwxr-xr-x 1 Michelle 197121      0 Jul 23 09:01 ..
drwxr-xr-x 1 Michelle 197121      0 Jul 22 09:39 .ipynb_checkpoints
-rw-r--r-- 1 Michelle 197121  11325 Jul 22 09:43 heart.csv
-rw-r--r-- 1 Michelle 197121  18136 Jul 22 09:36 manipulating_data_with_pandas.ipynb
-rw-r--r-- 1 Michelle 197121 236971 Jul 22 11:09 manipulating_data_with_pandas-MJK.ipynb
-rw-r--r-- 1 Michelle 197121   3356 Jul 22 09:36 pre_process_animal_shelter_data.py
-rw-r--r-- 1 Michelle 197121    136 Jul 22 09:36 states.csv

In [2]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [3]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [4]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [5]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [6]:
# Call the .info() method on our dataset. What do you observe?
# Column names, lengths, any nulls (non-null means no), data types
uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [7]:
# Call the .describe() method on our dataset. What do you observe?
# 5 point distribution and descriptions
uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [8]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [9]:
uci.mean()['age']

54.366336633663366

#### The Axis Variable

In [10]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [11]:
uci['age'].value_counts()[:10] # this is so useful.

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

Exercise: What are the different values for restecg?

In [12]:
# Your code here!
uci['restecg'].value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [175]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [14]:
animal_outcomes.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [15]:
animal_outcomes['Breed'].value_counts()[:10]

Domestic Shorthair Mix       29921
Pit Bull Mix                  7936
Labrador Retriever Mix        6181
Chihuahua Shorthair Mix       5985
Domestic Medium Hair Mix      3018
German Shepherd Mix           2686
Bat Mix                       1741
Domestic Shorthair            1710
Domestic Longhair Mix         1487
Australian Cattle Dog Mix     1346
Name: Breed, dtype: int64

In [16]:
animal_outcomes[(animal_outcomes['Animal Type']=='Dog')].Breed.value_counts()[:5]
# top dogs are pit bulls

Pit Bull Mix                 7936
Labrador Retriever Mix       6181
Chihuahua Shorthair Mix      5985
German Shepherd Mix          2686
Australian Cattle Dog Mix    1346
Name: Breed, dtype: int64

In [17]:
animal_outcomes[(animal_outcomes['Animal Type']=='Dog')\
                & (animal_outcomes['Outcome Type']=='Adoption')\
               ].Breed.value_counts()[:10]

# but adopted dogs are labradors

Labrador Retriever Mix       3117
Pit Bull Mix                 3075
Chihuahua Shorthair Mix      2864
German Shepherd Mix          1357
Australian Cattle Dog Mix     753
Dachshund Mix                 477
Border Collie Mix             459
Boxer Mix                     405
Catahoula Mix                 330
Staffordshire Mix             327
Name: Breed, dtype: int64

In [18]:
animal_outcomes.loc[animal_outcomes['Animal Type']=='Dog']

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
3,A799925,NaN,07/22/2019 07:27:00 PM,07/22/2019 07:27:00 PM,05/01/2019,Adoption,NaN,Dog,Neutered Male,2 months,Labrador Retriever/German Shepherd,Black
4,A800293,Brixton,07/22/2019 07:26:00 PM,07/22/2019 07:26:00 PM,07/18/2017,Adoption,NaN,Dog,Neutered Male,2 years,Pit Bull,Brown/White
5,A612881,Missy,07/22/2019 07:05:00 PM,07/22/2019 07:05:00 PM,06/26/2010,Return to Owner,NaN,Dog,Spayed Female,9 years,Pit Bull Mix,Tan/White
6,A800445,Mini,07/22/2019 06:47:00 PM,07/22/2019 06:47:00 PM,06/05/2013,Return to Owner,NaN,Dog,Spayed Female,6 years,Chihuahua Shorthair Mix,Tan/White
7,A800327,Freddie,07/22/2019 06:30:00 PM,07/22/2019 06:30:00 PM,07/22/2009,Return to Owner,NaN,Dog,Neutered Male,10 years,German Shepherd,Brown/Black
12,A799854,Luna,07/22/2019 05:45:00 PM,07/22/2019 05:45:00 PM,08/12/2018,Return to Owner,NaN,Dog,Spayed Female,11 months,Chihuahua Shorthair,Red/White
24,A799711,*Idgy,07/22/2019 04:58:00 PM,07/22/2019 04:58:00 PM,01/11/2019,Adoption,NaN,Dog,Spayed Female,6 months,Catahoula/Labrador Retriever,Black/Black Brindle
25,A800368,Capone,07/22/2019 04:53:00 PM,07/22/2019 04:53:00 PM,07/22/2010,Return to Owner,NaN,Dog,Neutered Male,9 years,Pit Bull/Labrador Retriever,Brown Brindle/White
26,A797715,Rocky,07/22/2019 04:40:00 PM,07/22/2019 04:40:00 PM,06/17/2014,Return to Owner,NaN,Dog,Neutered Male,5 years,German Shepherd/Siberian Husky,Tan/Black
27,A800182,NaN,07/22/2019 04:28:00 PM,07/22/2019 04:28:00 PM,03/17/2019,Adoption,NaN,Dog,Spayed Female,4 months,German Shepherd Mix,Black/Tan
29,A791145,*Colmillo,07/22/2019 04:19:00 PM,07/22/2019 04:19:00 PM,12/26/2016,Adoption,NaN,Dog,Neutered Male,2 years,Alaskan Husky/German Shepherd,Tricolor
30,A800021,*Dolly Parton,07/22/2019 04:11:00 PM,07/22/2019 04:11:00 PM,02/15/2019,Adoption,NaN,Dog,Spayed Female,5 months,Australian Cattle Dog Mix,White/Tan
31,A800504,Luke,07/22/2019 03:54:00 PM,07/22/2019 03:54:00 PM,12/24/2010,Return to Owner,NaN,Dog,Neutered Male,8 years,Border Collie,Red/White
33,A791532,*Rosie,07/22/2019 03:06:00 PM,07/22/2019 03:06:00 PM,07/21/2014,Adoption,NaN,Dog,Spayed Female,5 years,Staffordshire Mix,Black/White
34,A737374,Boxer,07/22/2019 02:48:00 PM,07/22/2019 02:48:00 PM,07/12/2003,Return to Owner,NaN,Dog,Intact Male,16 years,Chow Chow Mix,Brown
39,A800462,Spots,07/22/2019 02:42:00 PM,07/22/2019 02:42:00 PM,01/21/2019,Return to Owner,NaN,Dog,Intact Female,5 months,Chinese Sharpei Mix,Black/Tan
40,A800463,Delilah,07/22/2019 02:41:00 PM,07/22/2019 02:41:00 PM,01/21/2019,Return to Owner,NaN,Dog,Intact Female,5 months,Chinese Sharpei Mix,Tan/Black
41,A799459,*Remi,07/22/2019 02:36:00 PM,07/22/2019 02:36:00 PM,07/09/2009,Adoption,NaN,Dog,Neutered Male,10 years,Papillon/Chihuahua Longhair,Brown/White
42,A799084,Mayla,07/22/2019 02:10:00 PM,07/22/2019 02:10:00 PM,05/05/2019,Return to Owner,NaN,Dog,Intact Female,2 months,Great Pyrenees,White/White
43,A800461,Frida,07/22/2019 01:23:00 PM,07/22/2019 01:23:00 PM,07/21/2017,Rto-Adopt,NaN,Dog,Intact Female,2 years,Chinese Sharpei Mix,Black/Tan
44,A783068,Buddy,07/22/2019 01:17:00 PM,07/22/2019 01:17:00 PM,04/24/2016,Adoption,NaN,Dog,Neutered Male,3 years,Miniature Poodle Mix,White
50,A800130,Kolby,07/21/2019 10:56:00 PM,07/21/2019 10:56:00 PM,05/01/2019,Adoption,NaN,Dog,Spayed Female,2 months,Boxer,Brown
51,A799457,Hazel,07/21/2019 10:55:00 PM,07/21/2019 10:55:00 PM,07/08/2013,NaN,NaN,Dog,Spayed Female,6 years,Pit Bull,Tan/White
58,A800468,Lulu,07/21/2019 07:03:00 PM,07/21/2019 07:03:00 PM,07/21/2016,Return to Owner,NaN,Dog,Intact Female,3 years,Pomeranian/Chihuahua Longhair,Buff
59,A800436,Lady,07/21/2019 06:48:00 PM,07/21/2019 06:48:00 PM,07/21/2017,Return to Owner,NaN,Dog,Intact Female,2 years,Pit Bull,Blue/White
60,A800434,Gracie,07/21/2019 06:48:00 PM,07/21/2019 06:48:00 PM,09/21/2014,Return to Owner,NaN,Dog,Intact Female,4 years,Pit Bull,Blue/White
61,A800440,Chief,07/21/2019 06:33:00 PM,07/21/2019 06:33:00 PM,07/21/2018,Return to Owner,NaN,Dog,Intact Male,1 year,Boston Terrier,Black/White
62,A800181,NaN,07/21/2019 06:09:00 PM,07/21/2019 06:09:00 PM,03/17/2019,Adoption,NaN,Dog,Spayed Female,4 months,German Shepherd Mix,Black/Tan
65,A800129,*Delyse,07/21/2019 05:53:00 PM,07/21/2019 05:53:00 PM,07/16/2018,Adoption,NaN,Dog,Spayed Female,1 year,German Shepherd/Siberian Husky,Brown/Black
72,A800185,Celest,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,01/17/2019,Adoption,NaN,Dog,Spayed Female,6 months,Labrador Retriever,White
...,...,...,...,...,...,...,...,...,...,...,...,...
104438,A660781,*Hank,10/02/2013 08:31:00 AM,10/02/2013 08:31:00 AM,06/24/2013,Adoption,Foster,Dog,Neutered Male,3 months,Labrador Retriever Mix,Black/White
104439,A664234,NaN,10/01/2013 07:09:00 PM,10/01/2013 07:09:00 PM,10/01/2005,Euthanasia,Suffering,Dog,Intact Male,8 years,Border Collie Mix,Black/White
104442,A658012,Lucio,10/01/2013 06:27:00 PM,10/01/2013 06:27:00 PM,07/05/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Chihuahua Shorthair Mix,Red
104443,A664031,Willow,10/01/2013 06:24:00 PM,10/01/2013 06:24:00 PM,07/27/2013,Adoption,NaN,Dog,Spayed Female,2 months,German Shepherd Mix,Black/Tan
104444,A664151,Mantequilla,10/01/2013 06:19:00 PM,10/01/2013 06:19:00 PM,09/30/2008,Return to Owner,NaN,Dog,Neutered Male,5 years,Chihuahua Shorthair,Red
104447,A664032,Parker,10/01/2013 05:18:00 PM,10/01/2013 05:18:00 PM,07/27/2013,Adoption,NaN,Dog,Spayed Female,2 months,German Shepherd Mix,Black/Tan
104448,A663827,NaN,10/01/2013 05:02:00 PM,10/01/2013 05:02:00 PM,01/29/2013,Adoption,NaN,Dog,Neutered Male,8 months,Labrador Retriever Mix,Brown
104456,A664280,Coco,10/01/2013 03:51:00 PM,10/01/2013 03:51:00 PM,10/01/2007,Return to Owner,NaN,Dog,Spayed Female,6 years,Miniature Poodle Mix,Apricot
104457,A662104,Gracie,10/01/2013 03:47:00 PM,10/01/2013 03:47:00 PM,08/29/2010,Adoption,NaN,Dog,Spayed Female,3 years,Labrador Retriever Mix,Black/White
104458,A521520,Nina,10/01/2013 03:39:00 PM,10/01/2013 03:39:00 PM,09/07/2006,Return to Owner,NaN,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan
104459,A664233,Stevie,10/01/2013 03:33:00 PM,10/01/2013 03:33:00 PM,09/30/2010,Euthanasia,Suffering,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White
104460,A663886,Trudy,10/01/2013 03:08:00 PM,10/01/2013 03:08:00 PM,09/25/2011,Euthanasia,Medical,Dog,Spayed Female,2 years,Pit Bull Mix,Black/White
104461,A663887,Hooch,10/01/2013 03:07:00 PM,10/01/2013 03:07:00 PM,09/25/2010,Euthanasia,Medical,Dog,Neutered Male,3 years,Pit Bull Mix,Red/White
104462,A663935,NaN,10/01/2013 02:15:00 PM,10/01/2013 02:15:00 PM,09/26/1999,Transfer,Partner,Dog,Intact Male,14 years,Chihuahua Shorthair Mix,Brown
104463,A663201,Buck,10/01/2013 02:14:00 PM,10/01/2013 02:14:00 PM,09/14/2011,Transfer,Partner,Dog,Neutered Male,2 years,Pit Bull Mix,Brown/White
104464,A663955,NaN,10/01/2013 02:13:00 PM,10/01/2013 02:13:00 PM,09/27/1999,Transfer,Partner,Dog,Intact Female,14 years,Chihuahua Shorthair Mix,Black/Tan
104465,A664171,Knight,10/01/2013 01:59:00 PM,10/01/2013 01:59:00 PM,12/30/2012,Return to Owner,NaN,Dog,Neutered Male,9 months,Basset Hound Mix,Black
104466,A663938,NaN,10/01/2013 01:16:00 PM,10/01/2013 01:16:00 PM,09/27/2003,Euthanasia,Suffering,Dog,Neutered Male,10 years,Rottweiler/Labrador Retriever,Black/Tan
104474,A613553,Beast,10/01/2013 12:32:00 PM,10/01/2013 12:32:00 PM,05/06/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Pit Bull Mix,Black/White
104475,A664258,Sylvio,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,10/01/2006,Return to Owner,NaN,Dog,Neutered Male,7 years,Weimaraner Mix,Silver
104476,A648744,Claire,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,03/04/2012,Return to Owner,NaN,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor
104477,A663546,*Gage,10/01/2013 12:24:00 PM,10/01/2013 12:24:00 PM,09/20/2011,Euthanasia,Aggressive,Dog,Neutered Male,2 years,American Bulldog Mix,White/Brown Brindle
104478,A664225,Lou,10/01/2013 12:13:00 PM,10/01/2013 12:13:00 PM,09/30/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Shih Tzu Mix,Gray/White
104479,A663342,Deco,10/01/2013 12:05:00 PM,10/01/2013 12:05:00 PM,09/17/2012,Euthanasia,Behavior,Dog,Neutered Male,1 year,Chesa Bay Retr Mix,Red/White
104482,A663833,Baby Girl,10/01/2013 11:50:00 AM,10/01/2013 11:50:00 AM,09/24/2004,Return to Owner,NaN,Dog,Spayed Female,9 years,Labrador Retriever Mix,Black
104483,A663572,*Starla,10/01/2013 11:42:00 AM,10/01/2013 11:42:00 AM,09/21/2010,Adoption,NaN,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown
104484,A663888,NaN,10/01/2013 11:13:00 AM,10/01/2013 11:13:00 AM,09/25/2011,Transfer,Partner,Dog,Spayed Female,2 years,Boxer Mix,Red/White
104485,A663646,NaN,10/01/2013 11:12:00 AM,10/01/2013 11:12:00 AM,09/22/2010,Transfer,Partner,Dog,Neutered Male,3 years,Toy Poodle Mix,White
104486,A664223,Moby,10/01/2013 11:03:00 AM,10/01/2013 11:03:00 AM,09/30/2009,Return to Owner,NaN,Dog,Neutered Male,4 years,Bulldog Mix,White
104490,A659834,*Dudley,10/01/2013 09:31:00 AM,10/01/2013 09:31:00 AM,07/23/2013,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black

In [19]:
animal_outcomes[(animal_outcomes['Animal Type']=='Dog')\
                & (animal_outcomes['Outcome Type']=='Adoption')\
               ] # so this works ok. same as loc.

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
3,A799925,NaN,07/22/2019 07:27:00 PM,07/22/2019 07:27:00 PM,05/01/2019,Adoption,NaN,Dog,Neutered Male,2 months,Labrador Retriever/German Shepherd,Black
4,A800293,Brixton,07/22/2019 07:26:00 PM,07/22/2019 07:26:00 PM,07/18/2017,Adoption,NaN,Dog,Neutered Male,2 years,Pit Bull,Brown/White
24,A799711,*Idgy,07/22/2019 04:58:00 PM,07/22/2019 04:58:00 PM,01/11/2019,Adoption,NaN,Dog,Spayed Female,6 months,Catahoula/Labrador Retriever,Black/Black Brindle
27,A800182,NaN,07/22/2019 04:28:00 PM,07/22/2019 04:28:00 PM,03/17/2019,Adoption,NaN,Dog,Spayed Female,4 months,German Shepherd Mix,Black/Tan
29,A791145,*Colmillo,07/22/2019 04:19:00 PM,07/22/2019 04:19:00 PM,12/26/2016,Adoption,NaN,Dog,Neutered Male,2 years,Alaskan Husky/German Shepherd,Tricolor
30,A800021,*Dolly Parton,07/22/2019 04:11:00 PM,07/22/2019 04:11:00 PM,02/15/2019,Adoption,NaN,Dog,Spayed Female,5 months,Australian Cattle Dog Mix,White/Tan
33,A791532,*Rosie,07/22/2019 03:06:00 PM,07/22/2019 03:06:00 PM,07/21/2014,Adoption,NaN,Dog,Spayed Female,5 years,Staffordshire Mix,Black/White
41,A799459,*Remi,07/22/2019 02:36:00 PM,07/22/2019 02:36:00 PM,07/09/2009,Adoption,NaN,Dog,Neutered Male,10 years,Papillon/Chihuahua Longhair,Brown/White
44,A783068,Buddy,07/22/2019 01:17:00 PM,07/22/2019 01:17:00 PM,04/24/2016,Adoption,NaN,Dog,Neutered Male,3 years,Miniature Poodle Mix,White
50,A800130,Kolby,07/21/2019 10:56:00 PM,07/21/2019 10:56:00 PM,05/01/2019,Adoption,NaN,Dog,Spayed Female,2 months,Boxer,Brown
62,A800181,NaN,07/21/2019 06:09:00 PM,07/21/2019 06:09:00 PM,03/17/2019,Adoption,NaN,Dog,Spayed Female,4 months,German Shepherd Mix,Black/Tan
65,A800129,*Delyse,07/21/2019 05:53:00 PM,07/21/2019 05:53:00 PM,07/16/2018,Adoption,NaN,Dog,Spayed Female,1 year,German Shepherd/Siberian Husky,Brown/Black
72,A800185,Celest,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,01/17/2019,Adoption,NaN,Dog,Spayed Female,6 months,Labrador Retriever,White
74,A793174,*Wilbur,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,04/20/2017,Adoption,Foster,Dog,Neutered Male,2 years,Staffordshire Mix,Blue Cream
79,A799757,Daisy,07/21/2019 04:59:00 PM,07/21/2019 04:59:00 PM,01/11/2019,Adoption,NaN,Dog,Spayed Female,6 months,Collie Smooth,Black/White
80,A799827,NaN,07/21/2019 04:44:00 PM,07/21/2019 04:44:00 PM,05/20/2019,Adoption,NaN,Dog,Neutered Male,2 months,Labrador Retriever,Red/White
82,A800178,Sohma,07/21/2019 04:32:00 PM,07/21/2019 04:32:00 PM,09/17/2018,Adoption,NaN,Dog,Neutered Male,10 months,Border Collie Mix,Black/White
86,A799270,Lana,07/21/2019 02:53:00 PM,07/21/2019 02:53:00 PM,07/06/2018,Adoption,NaN,Dog,Spayed Female,1 year,Labrador Retriever Mix,Tan
89,A795337,*Cello,07/21/2019 02:06:00 PM,07/21/2019 02:06:00 PM,05/19/2017,Adoption,NaN,Dog,Intact Male,2 years,Pit Bull,Tan
104,A799127,NaN,07/21/2019 01:17:00 PM,07/21/2019 01:17:00 PM,05/21/2019,Adoption,NaN,Dog,Spayed Female,1 month,Australian Shepherd Mix,Brown Brindle
106,A763871,Guardian,07/21/2019 12:55:00 PM,07/21/2019 12:55:00 PM,06/18/2012,Adoption,Foster,Dog,Neutered Male,7 years,Great Pyrenees Mix,Cream
108,A799968,*Julie,07/21/2019 12:48:00 PM,07/21/2019 12:48:00 PM,07/14/2017,Adoption,NaN,Dog,Spayed Female,2 years,Golden Retriever/Chow Chow,Red
109,A760521,Margo,07/21/2019 12:00:00 PM,07/21/2019 12:00:00 PM,10/19/2016,Adoption,NaN,Dog,Spayed Female,2 years,Akita Mix,White/Brown
143,A800109,Kiya,07/20/2019 06:33:00 PM,07/20/2019 06:33:00 PM,07/16/2016,Adoption,NaN,Dog,Spayed Female,3 years,Alaskan Husky,Black/White
144,A800144,NaN,07/20/2019 06:32:00 PM,07/20/2019 06:32:00 PM,05/05/2019,Adoption,NaN,Dog,Spayed Female,2 months,Labrador Retriever,Red
146,A798865,Kourage,07/20/2019 06:31:00 PM,07/20/2019 06:31:00 PM,07/01/2018,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Longhair,Black/Tricolor
148,A800121,Skylar,07/20/2019 06:18:00 PM,07/20/2019 06:18:00 PM,01/27/2017,Adoption,NaN,Dog,Spayed Female,2 years,Pit Bull,Gray/White
150,A800323,NaN,07/20/2019 05:37:00 PM,07/20/2019 05:37:00 PM,05/19/2019,Adoption,NaN,Dog,Spayed Female,2 months,Pit Bull,Tan/White
151,A799875,NaN,07/20/2019 05:30:00 PM,07/20/2019 05:30:00 PM,05/22/2019,Adoption,NaN,Dog,Spayed Female,1 month,Pekingese,Black
152,A799128,NaN,07/20/2019 05:27:00 PM,07/20/2019 05:27:00 PM,05/21/2019,Adoption,NaN,Dog,Neutered Male,1 month,Australian Shepherd Mix,Black/Brown Brindle
...,...,...,...,...,...,...,...,...,...,...,...,...
104311,A664133,NaN,10/04/2013 06:41:00 PM,10/04/2013 06:41:00 PM,09/29/2011,Adoption,NaN,Dog,Neutered Male,2 years,Border Terrier/Miniature Schnauzer,Silver
104317,A664078,Rocky,10/04/2013 05:22:00 PM,10/04/2013 05:22:00 PM,11/28/2012,Adoption,NaN,Dog,Neutered Male,10 months,Pointer Mix,Black/White
104322,A664090,*Morgan,10/04/2013 03:14:00 PM,10/04/2013 03:14:00 PM,09/29/2007,Adoption,NaN,Dog,Spayed Female,6 years,Dachshund Longhair Mix,Brown
104332,A603779,*Rain,10/04/2013 11:38:00 AM,10/04/2013 11:38:00 AM,04/18/2011,Adoption,NaN,Dog,Neutered Male,2 years,Labrador Retriever Mix,Yellow/Black
104334,A659835,*Moon Doggie,10/04/2013 09:17:00 AM,10/04/2013 09:17:00 AM,07/23/2013,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever/Doberman Pinsch,Black
104340,A664082,Stella,10/03/2013 06:00:00 PM,10/03/2013 06:00:00 PM,09/28/2012,Adoption,NaN,Dog,Spayed Female,1 year,Norfolk Terrier Mix,Brown/Black
104341,A663995,Biscuit,10/03/2013 05:58:00 PM,10/03/2013 05:58:00 PM,09/27/2011,Adoption,NaN,Dog,Neutered Male,2 years,Maltese Mix,White
104342,A664110,Zazzy,10/03/2013 05:46:00 PM,10/03/2013 05:46:00 PM,09/29/2012,Adoption,NaN,Dog,Spayed Female,1 year,German Shepherd Mix,Black/Tan
104343,A663987,Dodie,10/03/2013 05:45:00 PM,10/03/2013 05:45:00 PM,11/27/2012,Adoption,NaN,Dog,Spayed Female,10 months,Pit Bull Mix,Blue
104344,A664113,Wrigley,10/03/2013 05:39:00 PM,10/03/2013 05:39:00 PM,07/29/2013,Adoption,NaN,Dog,Neutered Male,2 months,German Shepherd Mix,Black/Tan
104346,A663657,NaN,10/03/2013 04:42:00 PM,10/03/2013 04:42:00 PM,05/22/2013,Adoption,NaN,Dog,Neutered Male,4 months,Pembroke Welsh Corgi Mix,White/Cream
104364,A660088,*Rooster,10/03/2013 12:50:00 PM,10/03/2013 12:50:00 PM,06/18/2013,Adoption,Foster,Dog,Neutered Male,3 months,Pit Bull Mix,Blue/White
104384,A663004,*Allie,10/02/2013 06:58:00 PM,10/02/2013 06:58:00 PM,01/14/2013,Adoption,NaN,Dog,Spayed Female,8 months,Bulldog/Australian Cattle Dog,Black/White
104386,A664033,*Billy,10/02/2013 06:40:00 PM,10/02/2013 06:40:00 PM,07/27/2013,Adoption,NaN,Dog,Neutered Male,2 months,German Shepherd Mix,Tan/White
104389,A663878,NaN,10/02/2013 06:16:00 PM,10/02/2013 06:16:00 PM,09/25/2011,Adoption,NaN,Dog,Spayed Female,2 years,Glen Of Imaal Mix,Black
104390,A663956,Haven,10/02/2013 06:06:00 PM,10/02/2013 06:06:00 PM,09/27/2009,Adoption,NaN,Dog,Spayed Female,4 years,Australian Shepherd Mix,Tricolor
104392,A663957,NaN,10/02/2013 05:47:00 PM,10/02/2013 05:47:00 PM,10/27/2012,Adoption,NaN,Dog,Neutered Male,11 months,Siberian Husky/German Shepherd,Buff
104393,A640316,Kato,10/02/2013 05:43:00 PM,10/02/2013 05:43:00 PM,06/08/2012,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Longhair Mix,Black
104398,A664224,Toby,10/02/2013 05:16:00 PM,10/02/2013 05:16:00 PM,10/31/2011,Adoption,NaN,Dog,Neutered Male,1 year,Yorkshire Terrier Mix,Silver/Brown
104412,A650212,*Jaxon,10/02/2013 04:09:00 PM,10/02/2013 04:09:00 PM,03/25/2012,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull Mix,Black/White
104425,A663889,Bejon,10/02/2013 01:16:00 PM,10/02/2013 01:16:00 PM,09/25/2011,Adoption,NaN,Dog,Neutered Male,2 years,Labrador Retriever/Beauceron,Black/Tan
104426,A634503,Otter,10/02/2013 12:40:00 PM,10/02/2013 12:40:00 PM,08/11/2011,Adoption,NaN,Dog,Spayed Female,2 years,Norfolk Terrier Mix,Tan
104427,A663823,*Bowzer,10/02/2013 12:20:00 PM,10/02/2013 12:20:00 PM,09/24/2011,Adoption,NaN,Dog,Neutered Male,2 years,Boston Terrier/Miniature Schnauzer,Brown Brindle/White
104438,A660781,*Hank,10/02/2013 08:31:00 AM,10/02/2013 08:31:00 AM,06/24/2013,Adoption,Foster,Dog,Neutered Male,3 months,Labrador Retriever Mix,Black/White
104443,A664031,Willow,10/01/2013 06:24:00 PM,10/01/2013 06:24:00 PM,07/27/2013,Adoption,NaN,Dog,Spayed Female,2 months,German Shepherd Mix,Black/Tan
104447,A664032,Parker,10/01/2013 05:18:00 PM,10/01/2013 05:18:00 PM,07/27/2013,Adoption,NaN,Dog,Spayed Female,2 months,German Shepherd Mix,Black/Tan
104448,A663827,NaN,10/01/2013 05:02:00 PM,10/01/2013 05:02:00 PM,01/29/2013,Adoption,NaN,Dog,Neutered Male,8 months,Labrador Retriever Mix,Brown
104457,A662104,Gracie,10/01/2013 03:47:00 PM,10/01/2013 03:47:00 PM,08/29/2010,Adoption,NaN,Dog,Spayed Female,3 years,Labrador Retriever Mix,Black/White
104483,A663572,*Starla,10/01/2013 11:42:00 AM,10/01/2013 11:42:00 AM,09/21/2010,Adoption,NaN,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown
104490,A659834,*Dudley,10/01/2013 09:31:00 AM,10/01/2013 09:31:00 AM,07/23/2013,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black

In [20]:
animal_outcomes['Date of Birth'].value_counts()[:10]

09/01/2015    118
05/05/2014    115
05/01/2016    113
04/21/2014    113
04/28/2015    105
04/20/2015    104
04/15/2016    100
04/16/2018     95
04/27/2015     95
04/24/2017     91
Name: Date of Birth, dtype: int64

In [21]:
animal_outcomes['Animal Type'].value_counts()

Dog          59507
Cat          38973
Other         5517
Bird           478
Livestock       16
Name: Animal Type, dtype: int64

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [22]:
def successor(x):
    """adds one to all elements"""
    return x + 1

In [23]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [24]:
uci['age'].map(successor).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

In [27]:
uci['age'].map

<bound method Series.map of 0      63
1      37
2      41
3      56
4      57
5      57
6      56
7      44
8      52
9      57
10     54
11     48
12     49
13     64
14     58
15     50
16     58
17     66
18     43
19     69
20     59
21     44
22     42
23     61
24     40
25     71
26     59
27     51
28     65
29     53
       ..
273    58
274    47
275    52
276    58
277    57
278    58
279    61
280    42
281    52
282    59
283    40
284    61
285    46
286    59
287    57
288    57
289    55
290    61
291    58
292    58
293    67
294    44
295    63
296    63
297    59
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64>

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [28]:
uci['oldpeak'][:4]

0    2.3
1    3.5
2    1.4
3    0.8
Name: oldpeak, dtype: float64

In [29]:
uci['oldpeak'].map(lambda x: round(x))[:4]

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

Exercise: Use an anonymous function to turn the entries in age to strings

In [30]:
uci['oldpeak'].map(lambda x: str(x))[:4] #recall pandas calls strings objects

0    2.3
1    3.5
2    1.4
3    0.8
Name: oldpeak, dtype: object

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [197]:
animal_outcomes['OutcomeTimestamp'] = animal_outcomes.DateTime.map(lambda x: pd.to_datetime(x, format = '%m/%d/%Y %I:%M:%S %p'))

In [198]:
animal_outcomes['OutcomeTimestamp'][:10]

0   2019-07-23 08:49:00
1   2019-07-22 21:34:00
2   2019-07-22 21:33:00
3   2019-07-22 19:34:00
4   2019-07-22 19:27:00
5   2019-07-22 19:26:00
6   2019-07-22 19:05:00
7   2019-07-22 18:47:00
8   2019-07-22 18:30:00
9   2019-07-22 18:26:00
Name: OutcomeTimestamp, dtype: datetime64[ns]

In [201]:
animal_outcomes.drop(columns = 'MonthYear',inplace = True)

In [179]:
animal_outcomes['DateOfBirth'] = animal_outcomes['Date of Birth'].map(lambda x: pd.to_datetime(x,format = '%m/%d/%Y'))

In [190]:
animal_outcomes['DateOfBirth'][:10]

0   2019-06-23
1   2019-06-02
2   2019-04-17
3   2018-07-22
4   2019-05-01
5   2017-07-18
6   2010-06-26
7   2013-06-05
8   2009-07-22
9   2019-04-20
Name: DateOfBirth, dtype: datetime64[ns]

In [193]:
animal_outcomes.drop(columns = 'Date of Birth',inplace = True)

In [184]:
animal_outcomes['AgeOutcomeDays'] = animal_outcomes['OutcomeTimestamp'] - animal_outcomes['DateOfBirth']
animal_outcomes['AgeOutcomeDays'].head()
# calculate how old animals are at outtake

0    30 days 08:49:00
1    50 days 21:34:00
2    96 days 21:33:00
3   365 days 19:34:00
4    82 days 19:27:00
Name: AgeOutcomeDays, dtype: timedelta64[ns]

In [217]:
animal_outcomes.AgeOutcomeDays.head()

0    30 days 08:49:00
1    50 days 21:34:00
2    96 days 21:33:00
3   365 days 19:34:00
4    82 days 19:27:00
Name: AgeOutcomeDays, dtype: timedelta64[ns]

In [220]:
#animal_outcomes['AgeOutcomeYears'] = animal_outcomes['AgeOutcomeDays']/365
# This doesn't work. Datetime doesn't support a year because a year is not statically defined. This will stay as days.
#animal_outcomes.drop(columns = 'AgeOutcomeYears',inplace = True)

# handles the datetime objects very well. it automatically adjusts for days, even time!
# can you change the precision of this output? yes, many dt methods now available.

In [ ]:
# let's drop ugly, inconvenient columns
animal_outcomes.drop(columns = ['Age upon Outcome'],inplace = True)

In [225]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104492 entries, 0 to 104491
Data columns (total 11 columns):
Animal ID           104492 non-null object
Name                71716 non-null object
Outcome Type        104485 non-null object
Outcome Subtype     47591 non-null object
Animal Type         104492 non-null object
Sex upon Outcome    104490 non-null object
Breed               104492 non-null object
Color               104492 non-null object
DateOfBirth         104492 non-null datetime64[ns]
AgeOutcomeDays      104492 non-null timedelta64[ns]
OutcomeTimestamp    104492 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(8), timedelta64[ns](1)
memory usage: 8.8+ MB

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [39]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [40]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [41]:
uci.groupby('sex').get_group(0).tail # .tail()

<bound method NDFrame.tail of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
2     41    0   1       130   204    0        0      172      0      1.4
4     57    0   0       120   354    0        1      163      1      0.6
6     56    0   1       140   294    0        0      153      0      1.3
11    48    0   2       130   275    0        1      139      0      0.2
14    58    0   3       150   283    1        0      162      0      1.0
15    50    0   2       120   219    0        1      158      0      1.6
16    58    0   2       120   340    0        1      172      0      0.0
17    66    0   3       150   226    0        1      114      0      2.6
19    69    0   3       140   239    0        1      151      0      1.8
25    71    0   1       160   302    0        1      162      0      0.4
28    65    0   2       140   417    1        0      157      0      0.8
30    41    0   1       105   198    0        1      168      0      0.0
35    46    0   2       142   177    0        0      160      1      1.4
36    54    0   2       135   304    1        1      170      0      0.0
38    65    0   2       155   269    0        1      148      0      0.8
39    65    0   2       160   360    0        0      151      0      0.8
40    51    0   2       140   308    0        0      142      0      1.5
43    53    0   0       130   264    0        0      143      0      0.4
48    53    0   2       128   216    0        0      115      0      0.0
49    53    0   0       138   234    0        0      160      0      0.0
50    51    0   2       130   256    0        0      149      0      0.5
53    44    0   2       108   141    0        1      175      0      0.6
54    63    0   2       135   252    0        0      172      0      0.0
59    57    0   0       128   303    0        0      159      0      0.0
60    71    0   2       110   265    1        0      130      0      0.0
65    35    0   0       138   183    0        1      182      0      1.4
67    45    0   1       130   234    0        0      175      0      0.6
69    62    0   0       124   209    0        1      163      0      0.0
74    43    0   2       122   213    0        1      165      0      0.2
75    55    0   1       135   250    0        0      161      0      1.4
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
147   60    0   3       150   240    0        1      171      0      0.9
151   71    0   0       112   149    0        1      125      0      1.6
153   66    0   2       146   278    0        0      152      0      0.0
154   39    0   2       138   220    0        1      152      0      0.0
155   58    0   0       130   197    0        1      131      0      0.6
161   55    0   1       132   342    0        1      166      0      1.2
167   62    0   0       140   268    0        0      160      0      3.6
181   65    0   0       150   225    0        0      114      0      1.0
182   61    0   0       130   330    0        0      169      0      0.0
190   51    0   0       130   305    0        1      142      1      1.2
204   62    0   0       160   164    0        0      145      0      6.2
207   60    0   0       150   258    0        0      157      0      2.6
213   61    0   0       145   307    0        0      146      1      1.0
215   43    0   0       132   341    1        0      136      1      3.0
216   62    0   2       130   263    0        1       97      0      1.2
220   63    0   0       150   407    0        0      154      0      4.0
223   56    0   0       200   288    1        0      133      1      4.0
241   59    0   0       174   249    0        1      143      1      0.0
246   56    0   0       134   409    0        0      150      1      1.9
252   62    0   0       138   294    1        1      106      0      1.9
258   62    0   0       150   244    0        1      154      1      1.4
260   66    0   0       178   228    1        1      165      1      1.0
263   63    0   0       108   269    0        1      169      1      1.8
266   55    0   0       180   327    0        2      117      1      3.4
278   58    0   1       136   319    1        0      152      0      0.0
289   55    0   0       128   205    0        2      130      1      2.0
292   58    0   0       170   225    1        0      146      1      2.8
296   63    0   0       124   197    0        1      136      1      0.0
298   57    0   0       140   241    0        1      123      1      0.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
2        2   0     2       1
4        2   0     2       1
6        1   0     2       1
11       2   0     2       1
14       2   0     2       1
15       1   0     2       1
16       2   0     2       1
17       0   0     2       1
19       2   2     2       1
25       2   2     2       1
28       2   1     2       1
30       2   1     2       1
35       0   0     2       1
36       2   0     2       1
38       2   0     2       1
39       2   0     2       1
40       2   1     2       1
43       1   0     2       1
48       2   0     0       1
49       2   0     2       1
50       2   0     2       1
53       1   0     2       1
54       2   0     2       1
59       2   1     2       1
60       2   1     2       1
65       2   0     2       1
67       1   0     2       1
69       2   0     2       1
74       1   0     2       1
75       1   0     2       1
..     ...  ..   ...     ...
147      2   0     2       1
151      1   0     2       1
153      1   1     2       1
154      1   0     2       1
155      1   0     2       1
161      2   0     2       1
167      0   2     2       0
181      1   3     3       0
182      2   0     2       0
190      1   0     3       0
204      0   3     3       0
207      1   2     3       0
213      1   0     3       0
215      1   0     3       0
216      1   1     3       0
220      1   3     3       0
223      0   2     3       0
241      1   0     2       0
246      1   2     3       0
252      1   3     2       0
258      1   0     2       0
260      1   2     3       0
263      1   2     2       0
266      1   0     2       0
278      2   2     2       0
289      1   1     3       0
292      1   2     1       0
296      1   0     2       0
298      1   0     3       0
302      1   1     2       0

[96 rows x 14 columns]>

### Aggregating

In [42]:
uci.groupby('sex').std()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,9.409396,0.972427,19.311119,65.088946,0.332455,0.557150,20.047969,0.422503,1.119844,0.593736,0.881026,0.441290,0.435286
1,8.883803,1.059064,16.658246,42.782392,0.366955,0.510754,24.130882,0.484505,1.174632,0.627378,1.074082,0.659949,0.498626

Exercise: Tell me the average cholesterol level for those with heart disease.

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

In [65]:
animal_outcomes.columns

Index(['Animal ID', 'Name', 'MonthYear', 'Date of Birth', 'Outcome Type',
       'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color', 'date_outcomes', 'Date_of_Birth',
       'age', 'age_days', 'month', 'year', 'age_years'],
      dtype='object')

In [73]:
animal_outcomes.groupby('Animal Type').mean()['age_years'] # will do this for all the numerical data, subselect age from the resulting data frame.

Animal Type
Bird         1.402447
Cat          1.478086
Dog          2.805662
Livestock    1.149829
Other        1.270412
Name: age_years, dtype: float64

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [45]:
animal_outcomes['outcome_month'] = animal_outcomes.date_outcomes.map(lambda x : x.month)

In [49]:
animal_outcomes['outcome_year'] = animal_outcomes.date_outcomes.map(lambda x : x.year)

In [50]:
animal_outcomes['year'].value_counts()# how many animals adopted each year?

2014    18709
2015    18506
2016    17673
2017    17656
2018    16731
2019    10711
2013     4505
Name: year, dtype: int64

In [74]:
animal_outcomes.columns

Index(['Animal ID', 'Name', 'MonthYear', 'Date of Birth', 'Outcome Type',
       'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color', 'date_outcomes', 'Date_of_Birth',
       'age', 'age_days', 'month', 'year', 'age_years'],
      dtype='object')

In [51]:
animal_outcomes.groupby('year').size()# how many animals adopted each year?

year
2013     4505
2014    18709
2015    18506
2016    17673
2017    17656
2018    16731
2019    10711
dtype: int64

In [61]:
animal_outcomes.groupby('month').size()

month
1      7637
2      6882
3      8230
4      8207
5      9998
6     10886
7     10511
8      8475
9      7937
10     9242
11     8135
12     8351
dtype: int64

In [64]:
animal_outcomes[animal_outcomes['Outcome Type']=='Adoption'].groupby(['year','month']).size()

year  month
2013  10        606
      11        552
      12        684
2014  1         518
      2         437
      3         483
      4         439
      5         507
      6         660
      7         907
      8         816
      9         607
      10        582
      11        519
      12        652
2015  1         540
      2         484
      3         472
      4         402
      5         629
      6         706
      7         896
      8         721
      9         630
      10        583
      11        658
      12        656
2016  1         599
      2         539
      3         540
               ...
2017  2         647
      3         440
      4         510
      5         702
      6         746
      7         867
      8         851
      9         686
      10        709
      11        575
      12        649
2018  1         572
      2         508
      3         592
      4         471
      5         620
      6         790
      7         808
      8         914
      9         665
      10        698
      11        482
      12        803
2019  1         757
      2         554
      3         664
      4         531
      5         716
      6        1019
      7         638
Length: 70, dtype: int64

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [81]:
animal_outcomes.columns

Index(['Animal ID', 'Name', 'MonthYear', 'Date of Birth', 'Outcome Type',
       'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color', 'date_outcomes', 'Date_of_Birth',
       'age', 'age_days', 'month', 'year', 'age_years'],
      dtype='object')

In [89]:
animal_outcomes.pivot_table(columns = 'Outcome Type',values = 'age_years')

Outcome Type,Adoption,Died,Disposal,Euthanasia,Missing,Relocate,Return to Owner,Rto-Adopt,Transfer
age_years,1.779923,1.51048,1.235806,2.508992,1.744719,1.803317,4.125866,3.593141,1.665783

In [90]:
animal_outcomes.pivot_table(columns = 'Outcome Type',index = 'Animal Type',aggfunc = 'mean')
# this sorts out the values (sex) as a function of another variable (columns are the values of target)
# basically sorts out data and performs a function on the cross sections

                age_days                                                    \
Outcome Type    Adoption         Died    Disposal   Euthanasia     Missing
Animal Type
Bird          524.267045   440.857143  366.375000   480.158879  384.000000
Cat           477.467535   435.913345  746.043478  1171.429157  505.852941
Dog           760.379176  1029.242857  893.714286  1709.933658  834.384615
Livestock     397.833333    15.000000         NaN          NaN         NaN
Other         496.573964   364.929412  417.890909   477.956342  206.000000

                                                                   age_years  \
Outcome Type     Relocate Return to Owner    Rto-Adopt    Transfer  Adoption
Animal Type
Bird          1052.111111      470.941176          NaN  524.715385  1.436348
Cat                   NaN     1583.859482  1333.373333  425.218831  1.308130
Dog                   NaN     1499.944862  1306.754335  868.785208  2.083231
Livestock             NaN      163.333333          NaN  637.166667  1.089954
Other          303.700000      919.452381          NaN  396.348868  1.360477

              ...     month         year                            \
Outcome Type  ...  Transfer     Adoption         Died     Disposal
Animal Type   ...
Bird          ...  6.961538  2016.636364  2017.500000  2016.291667
Cat           ...  6.776226  2016.242803  2016.383016  2017.695652
Dog           ...  6.566835  2016.244226  2016.471429  2017.142857
Livestock     ...  6.166667  2017.166667  2018.000000          NaN
Other         ...  6.335553  2017.130178  2016.170588  2015.918182

                                                                              \
Outcome Type   Euthanasia      Missing Relocate Return to Owner    Rto-Adopt
Animal Type
Bird          2016.457944  2016.000000   2016.0     2017.000000          NaN
Cat           2015.596604  2016.029412      NaN     2016.173270  2017.826667
Dog           2014.937918  2016.576923      NaN     2016.107788  2017.947977
Livestock             NaN          NaN      NaN     2017.000000          NaN
Other         2016.008783  2018.000000   2015.1     2016.142857          NaN


Outcome Type     Transfer
Animal Type
Bird          2016.376923
Cat           2015.997241
Dog           2016.101752
Livestock     2015.000000
Other         2016.058589

[5 rows x 36 columns]

In [77]:
# let's try with the animal outcomes table
animal_outcomes.pivot(values='Animal Type', columns = 'Outcome Type')

Outcome Type,nan,Adoption,Died,Disposal,Euthanasia,Missing,Relocate,Return to Owner,Rto-Adopt,Transfer
0,NaN,Cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,NaN,NaN
3,NaN,Dog,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Dog,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
8,NaN,Cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
18,NaN,Cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
21,NaN,Cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Dog,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
27,NaN,Dog,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,Dog,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
104461,NaN,NaN,NaN,NaN,Dog,NaN,NaN,NaN,NaN,NaN
104462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog
104463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog
104464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog
104465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
104466,NaN,NaN,NaN,NaN,Dog,NaN,NaN,NaN,NaN,NaN
104467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
104468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
104469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
104470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
104471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
104472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat,NaN,NaN
104473,NaN,NaN,Cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
104475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
104476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
104477,NaN,NaN,NaN,NaN,Dog,NaN,NaN,NaN,NaN,NaN
104478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
104479,NaN,NaN,NaN,NaN,Dog,NaN,NaN,NaN,NaN,NaN
104480,NaN,Cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104481,NaN,Cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
104483,NaN,Dog,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog
104485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog
104486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dog,NaN,NaN
104487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
104488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
104489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cat
104490,NaN,Dog,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [93]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])
print('toy1 = ',toy1)
print('toy2 = ',toy2)

toy1 =     age   HP
0   63  142
1   33   47
toy2 =     age   HP
0   63  100
1   33  200

In [96]:
toy1.join(toy2.set_index('age'),# must specify an axis for the toy2 dataframe
          on = 'age',# tells you to join on toy1 age
          lsuffix = '_A',# add a suffix on the remaining columns that follow the join index
          rsuffix = '_B').head()

   age  HP_A  HP_B
0   63   142   100
1   33    47   200

### `.merge()`

In [97]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)
# append: rows at the bottom
# join: left to right. defaults to left.
# merge is similar to join, but can specify without a common column (values must be the same though?). defaults to inner.

FileNotFoundError: [Errno 2] File b'ds_chars.csv' does not exist: b'ds_chars.csv'

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states]) # can specify the concatenation along axis(rows or columns)

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [226]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104492 entries, 0 to 104491
Data columns (total 11 columns):
Animal ID           104492 non-null object
Name                71716 non-null object
Outcome Type        104485 non-null object
Outcome Subtype     47591 non-null object
Animal Type         104492 non-null object
Sex upon Outcome    104490 non-null object
Breed               104492 non-null object
Color               104492 non-null object
DateOfBirth         104492 non-null datetime64[ns]
AgeOutcomeDays      104492 non-null timedelta64[ns]
OutcomeTimestamp    104492 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(8), timedelta64[ns](1)
memory usage: 8.8+ MB

In [242]:
# join out comes with intake data
animal_intake = pd.read_csv('https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD')
animal_intake.head()
print(animal_intake.shape)
# clean data: datetime, arrange column heads etc.

(104921, 12)

In [232]:
animal_intake.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,IntakeTimestamp
0,A800561,NaN,07/23/2019 08:52:00 AM,07/23/2019 08:52:00 AM,11209 Metric Blvd in Austin (TX),Stray,Injured,Dog,Neutered Male,6 years,Miniature Pinscher Mix,Black/Tan,2019-07-23 08:52:00
1,A800557,NaN,07/23/2019 07:48:00 AM,07/23/2019 07:48:00 AM,1109 S Pleasant Valley in Austin (TX),Stray,Normal,Cat,Unknown,1 year,Domestic Shorthair,Black,2019-07-23 07:48:00
2,A800556,NaN,07/23/2019 07:20:00 AM,07/23/2019 07:20:00 AM,4434 Frontier Trail in Austin (TX),Stray,Injured,Cat,Intact Female,1 year,Domestic Shorthair,Tortie,2019-07-23 07:20:00
3,A660391,NaN,07/22/2019 06:54:00 PM,07/22/2019 06:54:00 PM,Pedernales And East 6Th Street in Austin (TX),Stray,Normal,Dog,Intact Male,7 years,Pit Bull Mix,Brown,2019-07-22 06:54:00
4,A800459,Luna,07/22/2019 06:46:00 PM,07/22/2019 06:46:00 PM,Manor (TX),Public Assist,Normal,Dog,Intact Female,6 years,Australian Cattle Dog,Black/Tan,2019-07-22 06:46:00

In [243]:
animal_intake['IntakeTimestamp'] = animal_intake['DateTime'].map(lambda x: pd.to_datetime(x, format = '%m/%d/%Y %H:%M:%S %p'))
animal_intake['IntakeTimestamp'].head()

0   2019-07-23 08:52:00
1   2019-07-23 07:48:00
2   2019-07-23 07:20:00
3   2019-07-22 06:54:00
4   2019-07-22 06:46:00
Name: IntakeTimestamp, dtype: datetime64[ns]

In [151]:
# how do we deal with all these weird ages?
# for another time. animal_intake['Age Upon Intake'].value_counts()

In [244]:
sum(animal_intake.MonthYear == animal_intake.DateTime)==len(animal_intake)# same?
animal_intake.drop('MonthYear', axis = 1,inplace = True)
animal_intake.drop('DateTime', axis = 1, inplace = True)

In [247]:
def new_col(out):
    #out = out.title()
    out = out.strip()
    return out

In [248]:
animal_intake.rename(new_col,axis = 1,inplace=True)

In [249]:
animal_intake.columns # Looks like it is working, but spaces don't get treated as whitespace.

Index(['Animal ID', 'Name', 'Found Location', 'Intake Type',
       'Intake Condition', 'Animal Type', 'Sex upon Intake', 'Age upon Intake',
       'Breed', 'Color', 'IntakeTimestamp'],
      dtype='object')

In [252]:
print(animal_intake.shape)
print(animal_outcomes.shape)
# Not the same dimensions, so we need to find the animals by their ID
print(animal_intake.columns)
print(animal_outcomes.columns)
# we have different column names for Animal ID versus Animal Id.

(104921, 11)
(104492, 11)
Index(['Animal ID', 'Name', 'Found Location', 'Intake Type',
       'Intake Condition', 'Animal Type', 'Sex upon Intake', 'Age upon Intake',
       'Breed', 'Color', 'IntakeTimestamp'],
      dtype='object')
Index(['Animal ID', 'Name', 'Outcome Type', 'Outcome Subtype', 'Animal Type',
       'Sex upon Outcome', 'Breed', 'Color', 'DateOfBirth', 'AgeOutcomeDays',
       'OutcomeTimestamp'],
      dtype='object')

In [253]:
animals_all = animal_outcomes.merge(animal_intake, on = 'Animal ID')
# inner join perserves index values from both of the dataframes.
print(animals_all.shape)
# looks like all the columns are preserved

(133617, 21)

In [254]:
animals_all.columns

Index(['Animal ID', 'Name_x', 'Outcome Type', 'Outcome Subtype',
       'Animal Type_x', 'Sex upon Outcome', 'Breed_x', 'Color_x',
       'DateOfBirth', 'AgeOutcomeDays', 'OutcomeTimestamp', 'Name_y',
       'Found Location', 'Intake Type', 'Intake Condition', 'Animal Type_y',
       'Sex upon Intake', 'Age upon Intake', 'Breed_y', 'Color_y',
       'IntakeTimestamp'],
      dtype='object')

In [255]:
animals_all['DaysInShelter'] = animals_all['OutcomeTimestamp'] - animals_all['IntakeTimestamp']
animals_all['DaysInShelter'].head()

0   21 days 03:10:00
1   20 days 12:56:00
2   20 days 09:54:00
3    0 days 13:12:00
4    9 days 12:32:00
Name: DaysInShelter, dtype: timedelta64[ns]

In [ ]:
# questions: What types return?